name: Lint

on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
      - 'release/*'

jobs:
  run-linter:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10', 3.11]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python3 -m pip install --upgrade pip

      - name: Install the dev requirements
        run: python3 -m pip install -r requirements-dev.txt

      - name: Install the `sdr` package
        run: python3 -m pip install .

      - name: Lint code with pylint
        run: python3 -m pylint src/sdr/

      # - name: Lint tests with pylint
      #   run: python3 -m pylint tests/

  run-formatter:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Upgrade pip
        run: python3 -m pip install --upgrade pip

      - name: Install the dev requirements
        run: python3 -m pip install -r requirements-dev.txt

      - name: Install the `sdr` package
        run: python3 -m pip install .

      - name: Format with black
        run: python3 -m black . --check
